<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div class='candlestick-container'>

    <div class='candlestick'>
        <div class='upper-shadow'></div>
        <div class='body'></div>
        <div class='lower-sahdow'></div>
        <h6>USDEUR</h6>
        <h6>دسمة</h6>
    </div>
    
  </div>
</body>
</html>